import init.golfu.usb.rc

on early-init
    mount debugfs debugfs /sys/kernel/debug

on init
    mkdir /mnt/media_rw/sdcard0 0700 media_rw media_rw
    mkdir /storage/sdcard0 0700 root root
    export EXTERNAL_STORAGE /storage/sdcard0
    # for backwards compatibility
    symlink /storage/sdcard0 /sdcard
    symlink /storage/sdcard0 /mnt/sdcard

on fs
    # mount mmc partitions
    mount_all /fstab.golfu
    # zRAM 
    swapon_all /fstab.golfu
    
on post-fs-data
    mkdir /data/misc/bluetooth 0770 bluetooth bluetooth
    
    # Create the directories used by the Wireless subsystem
    mkdir /data/misc/wifi 0770 wifi wifi
    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    mkdir /data/misc/wifi/wpa_supplicant 0770 wifi wifi
    mkdir /data/misc/wifi/hostapd 0770 wifi wifi

    mkdir /data/misc/dhcp 0770 dhcp dhcp
    chown dhcp dhcp /data/misc/dhcp
    
    mkdir /data/radio 0770 radio radio
    chmod 2770 /data/radio
    mkdir /dev/radio 0770 radio radio
    chown radio system /dev/pm_monitor
    
    chmod 0664 /sys/devices/platform/msm_sdcc.1/polling
    chmod 0664 /sys/devices/platform/msm_sdcc.2/polling
    chmod 0664 /sys/devices/platform/msm_sdcc.3/polling
    chmod 0664 /sys/devices/platform/msm_sdcc.4/polling
    
    chown system system /sys/devices/platform/msm_sdcc.1/polling
    chown system system /sys/devices/platform/msm_sdcc.2/polling
    chown system system /sys/devices/platform/msm_sdcc.3/polling
    chown system system /sys/devices/platform/msm_sdcc.4/polling
    
    # [3LM] Secure container used for sharing libraries for encrypted apps
    chmod 0771 /data/secure
    mkdir /data/secure/data 0771 system system
    mount tmpfs tmpfs /data/secure/data mode=0771,uid=1000,gid=1000
    mkdir /mnt/emmc 0000 system system

    #set G-Sensor and Compass permissions
    chown compass system /dev/akm8975_aot
    chown compass system /dev/akm8975_daemon
    chown compass system /dev/bma150
    chmod 0640 /dev/akm8975_aot
    chmod 0640 /dev/akm8975_daemon
    chmod 0640 /dev/bma150
    
    setprop vold.post_fs_data_done 1
     
on boot
    # unmap left alt to avoid console switch
    #setkey 0x0 0x38 0x0
    # device reset SEND+MENU+END
    #setkey 0x0 0xe7 0x706
    #setkey 0x0 0x8b 0x707

    #setkey 0x40 0xe7 0x706
    #setkey 0x40 0x8b 0x707

    #setkey 0x80 0xe7 0x706
    #setkey 0x80 0x8b 0x707

    #setkey 0xc0 0xe7 0x706
    #setkey 0xc0 0x8b 0x707
    #setkey 0xc0 0x6b 0x20c
    
    chmod 0644 /proc/cmdline
    
    # HTC SSD Audio
    mkdir /data/audio
    chown media audio /data/audio
    chmod 755 /data/audio

    #NFC
    setprop ro.nfc.port "I2C"
    chmod 0660 /dev/pn544
    chown nfc nfc /dev/pn544

    # bluetooth power up/down interface
    mkdir /data/misc/bluetooth 0770 bluetooth bluetooth
    chown bluetooth bluetooth /sys/module/bluetooth_power/parameters/power
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/type
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth /proc/bluetooth/sleep/proto
    chown bluetooth bluetooth /proc/bcm/sleep/proto
    chown system system /sys/module/sco/parameters/disable_esco
    chown bluetooth bluetooth /sys/module/hci_smd/parameters/hcismd_set
    chmod 0660 /sys/module/bluetooth_power/parameters/power
    chmod 0660 /sys/module/hci_smd/parameters/hcismd_set
    chmod 0660 /sys/class/rfkill/rfkill0/state
    chmod 0660 /proc/bluetooth/sleep/proto
    chmod 0660 /proc/bcm/sleep/proto
    chown bluetooth bluetooth /dev/ttyHS0
    chmod 0660 /dev/ttyHS0
    chown bluetooth bluetooth /sys/devices/platform/msm_serial_hs.0/clock
    chmod 0660 /sys/devices/platform/msm_serial_hs.0/clock
    
    #Create QMUX deamon socket area
    mkdir /dev/socket/qmux_radio 0770 radio radio
    chmod 2770 /dev/socket/qmux_radio
    mkdir /dev/socket/qmux_audio 0770 media audio
    chmod 2770 /dev/socket/qmux_audio
    mkdir /dev/socket/qmux_bluetooth 0770 bluetooth bluetooth
    chmod 2770 /dev/socket/qmux_bluetooth
    
    chmod 0444 /sys/devices/platform/msm_hsusb/gadget/usb_state

    #For bridgemgr daemon to inform the USB driver of the correct transport
    chown radio radio /sys/class/android_usb/f_rmnet_smd_sdio/transport

    #To allow interfaces to get v6 address when tethering is enabled
    write /proc/sys/net/ipv6/conf/rmnet0/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet1/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet2/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet3/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet4/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet5/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet6/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet7/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet_sdio0/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet_sdio1/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet_sdio2/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet_sdio3/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet_sdio4/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet_sdio5/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet_sdio6/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet_sdio7/accept_ra 2

    # Widevine DRM
    chown drm system /dev/htcdrm
    chmod 0660 /dev/htcdrm

    # Enable Bluetooth 802.11 PAL when Bluetooth is turned on
    setprop ro.config.bt.amp no
    
    # Fast dormancy settings
    setprop ro.ril.fast.dormancy.rule 1
    setprop ro.ril.fd.scron.timeout 4
    setprop ro.ril.fd.scroff.timeout 3
    
    # zRAM
    write /proc/sys/vm/page-cluster 0
    
    # Start ADB before init.d so we can see errors 
    start adbd
    
    # for modem link
    chown system system /sys/class/android_usb/f_modem/on
    chown system system /sys/module/serial/parameters/modem_enabled
    chown system system /dev/ttyHSUSB0
    chown system system /dev/ttySA0
    chown system system /dev/smd9

    # set CABC permissions
    chown system system /sys/class/leds/lcd-backlight/auto
    chown radio radio /sys/module/pm/parameters/idle_sleep_mode

    # for Flip to speaker
    chown radio radio /sys/class/htc_accelerometer/accelerometer/PhoneOnOffFlag
    chown radio radio /sys/class/htc_ecompass/ecompass/PhoneOnOffFlag

    # for Optical sensors
    chown system system /sys/class/optical_sensors/lightsensor/ls_adc
    chown system system /sys/class/optical_sensors/lightsensor/ls_auto
    chown system system /sys/class/optical_sensors/lightsensor/ls_kadc
    chown system radio /sys/class/optical_sensors/proximity/ps_adc
    chown system system /sys/class/optical_sensors/proximity/ps_kadc
    chown system system /sys/class/optical_sensors/proximity/ps_led
    chown system system /sys/class/optical_sensors/proximity/ps_test_mode

    # Load kineto_gan.ko while booting
    insmod /system/lib/modules/kineto_gan.ko

on property:init.svc.wpa_supplicant=stopped
    stop dhcpcd
    
#service rmt_storage /system/bin/rmt_storage
#    class core
#    user root
#    disabled

#on property:ro.boot.emmc=true
#    start rmt_storage

#service netmgrd /system/bin/netmgrd
#    class late_start

service qmuxd /system/bin/qmuxd
    class core
    user radio
    group radio audio bluetooth gps qcom_diag

service wpa_supplicant /system/bin/wpa_supplicant \
    -iwlan0 -Dnl80211 -c/data/misc/wifi/wpa_supplicant.conf \
    -I/system/etc/wifi/wpa_supplicant_overlay.conf \
    -O/data/misc/wifi/sockets \
    -e/data/misc/wifi/entropy.bin -g@android:wpa_wlan0
    class main
    socket wpa_wlan0 dgram 660 wifi wifi
    disabled
    oneshot

service hostapd /system/bin/hostapd -dddd /data/misc/wifi/hostapd.conf
    class late_start
#    socket hostapd_wlan0 dgram 660 root wifi
    user root
    group wifi
    oneshot
    disabled

#service hostapd /system/bin/hostapd -dddd /data/misc/wifi/hostapd.conf
#    class late_start
#    user root
#    group root
#    oneshot
#    disabled

service dhcpcd_wlan0 /system/bin/dhcpcd -aABDKL
    class late_start
    disabled
    oneshot

service dhcpcd_bt-pan /system/bin/dhcpcd -ABKL
    class main
    disabled
    oneshot
    
service dhcpcd_p2p /system/bin/dhcpcd -aABKL
    class main
    disabled
    oneshot

service iprenew_wlan0 /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service iprenew_bt-pan /system/bin/dhcpcd -n
    class main
    disabled
    oneshot
    
service iprenew_p2p /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service iprelease_wlan0 /system/bin/dhcpcd -k
    class late_start
    disabled
    oneshot

service btmac /system/bin/btmac
     class main
     oneshot

# bugreport is triggered by the KEY_VOLUMEUP and KEY_VOLUMEDOWN keycodes
service bugreport /system/bin/dumpstate -d -v -o /sdcard/bugreports/bugreport
    disabled
    oneshot
    keycodes 115 114

# for USB internet sharing
service udhcpd /system/bin/udhcpd
    disabled
    oneshot

service fm_dl /system/bin/sh /system/etc/init.qcom.fm.sh
    class late_start
    user root
    group system qcom_oncrpc
    disabled
    oneshot

#service qcom-post-boot /system/bin/sh /system/etc/init.qcom.post_boot.sh
#    user root
#    disabled
#    oneshot

#service modem /system/xbin/wireless_modem
#    user system
#    group system radio
#    disabled
#    oneshot

#on property:service.modem.enable=1
#    start modem
    
service fuse_sdcard0 /system/bin/sdcard -u 1023 -g 1023 -d /mnt/media_rw/sdcard0 /storage/sdcard0
    class late_start
    disabled
